<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <!-- formulario para ingresar datos de empleados b-form enc y seleccionar metodo de envio de info post -->
    <form method="post" action="/store" enctype="multipart/form-data">
        Nombre:
        <input type="text" name="txtNombre" id="txtNombre">
        <br>

        Correo:
        <input type="text" name="txtCorreo" id="txtCorreo">
        <br>

        Foto:
        <input type="file" name="txtFoto" id="txtFoto">
        <br>

        <input type="submit" value="Agregar">
        
    </form>
</body>
</html>